@model ML.Alumnos
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>GetAll</h2>
    </div>
    <hr />
    <div class="row">
        
    </div>
    <hr />
    <div class="row">
        @if (Model.Alumnos1 != null)
        {
            <table class="table table-dark table-bordered table-responsive table-hover" id="tblAlumno">
                <thead>
                    <tr>
                        <td class="text-center" style=" font-weight:bold;">Seleccionar</td>

                        <td class="d-none">IdAlumno</td>
                        <td class="text-center" style=" font-weight:bold;">Nombre</td>
                        <td class="text-center" style=" font-weight:bold;">Apellido Paterno</td>
                        <td class="text-center" style=" font-weight:bold;">ApellidoMaterno</td>

                    </tr>
                </thead>

                <tbody>
                    @foreach (ML.Alumnos alumno in Model.Alumnos1)
                    {
                    <tr>
                        <td class="text-center"><a class="btn btn-warning" id="prueba" onmouseover="Animar()" href="@Url.Action("SelectAlumnoMateria", "AlumnoMateria", new { IdAlumno = alumno.IdAlumno })"><i class="bi bi-pencil-square fa-beat" style="color: ghostwhite;"></i> </a></td>

                        <td class="d-none">@alumno.IdAlumno</td>
                        <td>@alumno.Nombre</td>
                        <td>@alumno.ApellidoPaterno</td>
                        <td>@alumno.ApellidoMaterno</td>


                    </tr>
                    }
                </tbody>
            </table>


        }
        else
        {
            <div class="alert alert-danger" role="alert">Ocurrio un error al realizar la consulta </div>
        }
    </div>
</div>



